    <!-- Event Section -->
    <section id="event" class="content-section text-center">
        <div class="event-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Workshop: 6 Thinking Hats</h2>
                    <img src="../img/event-11-21.png" class="img-thumbnail" alt="">
                    <!--<p>Join now to listen to share from Facebook Designers about design process!</p>-->
                    <a href="../cals/event-11-21.ics" class="btn btn-default btn-lg" style="margin-top:50px;">Add to calender</a><br>
                    <a href="https://goo.gl/forms/UBtKxfowqcfwFqIS2" class="btn btn-default btn-lg" style="margin-top:20px;">Register</a>
                </div>
            </div>
        </div>
    </section>