    <!-- Event Section -->
    <section id="event" class="content-section text-center">
        <div class="event-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Event: Meetup with Facebook Designers</h2>
                    <p>Join now to listen to share from Facebook Designers about design process!</p>
                    <a href="https://goo.gl/2IH3vU" class="btn btn-default btn-lg">Join</a>
                </div>
            </div>
        </div>
    </section>