    <!-- Download Section -->
    <section id="subscribe" class="content-section text-center">
        <div class="subscribe-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Subscribe & Get Newest Event</h2>
                    <p>Fill in your email address frequently use and we will push the newest event to your mailbox!</p>
                    <a href="http://tinyletter.com/designcmu" class="btn btn-default btn-lg">Subscribe</a>
                </div>
            </div>
        </div>
    </section>